Django>=4.2
djangorestframework>=3.14
psycopg2-binary>=2.9
celery>=5.3
redis>=5.0
django-redis>=5.4
kombu>=5.3
amqp>=5.2
python-dotenv>=1.0
gunicorn>=21.2
pytest>=7.4
pytest-django>=4.7
freezegun>=1.4
djangorestframework-simplejwt>=5.3